* {
  margin: 0;
  padding: 0;
}

/* Styling for the header */
#page-header {
  background-image: url("./women.jpg");
  width: 100%;
  height: 30vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; /* Center items vertically */
  text-align: center;
  flex-direction: column;
}

#page-header h1,
#page-header p {
  color: black;
}
.section-p1 {
  padding: 40px 80px;
}

#product1 {
  text-align: center;
}
#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

#product1 .pro {
  width: 18%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);6
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
#product1 .pro img {
  width: 100%;
  border-radius: 20px;
  height: 65%;
}
#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
.fa {
  transition: 0.4s;
  margin: 2px;
}
.checked {
  color: #ff9f43;
}
.fa:hover {
  transform: scale(1.3);
  transition: 0.6s;
}

.button-container {
  margin-top: 10px;
}

.button-container button {
  margin: 5px;
  padding: 8px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #45a049;
}
